.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  background-color: white;
  width: 50%;
  min-width: 600px;
  border-radius: 12px;
  box-shadow: 4px 4px 24px rgba(0,0,0,0.5);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  overflow-x: hidden;
}

.ModalTitleBar {
  padding: 12px
}

.ModalContent {
  margin-top: 24px;
}

@media(max-width: 840px) {
  .Modal {
    width: calc(100% - 16px);
    min-width: unset;
    font-size: unset;
    font-weight: unset;
  }
}