.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.InvalidInput {
  background-color: rgba(150, 0, 40, 0.25) !important;
  border-color: rgba(150, 0, 40, 1) !important;
}

.ErrorMessage {
  font-size: 80%;
  color: rgba(150, 0, 40, 1);
  margin: 0px;
  text-align: left;
}

.HintContainer {
  min-height: 12px;
}