.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.HabitHeader {
  padding: 4px 24px;
  box-shadow: rgba(0,0,0,0.5) 2px 2px 12px;
  z-index: 50;
}

.HabitHeader h3 {
  margin: 8px;
}